<ion-view view-title="Frontwisegroup">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" ng-src="{{FWGImages[0].src}}">
      </div>
    </div>

    <div class="list card">
      <div class="card aboutUs">
        <div class="item item-divider item-divider-aboutus">
          About Us
        </div>
        <div class="item item-text-wrap text-justify">
          Set up in 2014 by Gerrit Loopstra, Bart Tukkers & Marc van Straten with an aim to provide innovative recruitment services focused on the Dutch market.
          Our focus is on optimization of quality, continuity and flexibility with reasonable costs.
          Our fast growing start-up has a unique “Frontwise Way of Working”. The quality and enthusiasm of the Professional Talent Acquisition team combined with our colleagues in Macedonia result in a high quality service at a competitive price.
          A unique combination in the recruitment world.
          <img src="img/frLogos.png"/>
        </div>

        <!--<div class="item item-divider">
          I'm a Footer in a Card!
        </div>-->
      </div>
    </div>

  </ion-content>
</ion-view>
